.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: flex-start; */
}

.table {
  display: flex;
  width: 100%;
}

.action_icon_delete {
  color: #ff2626;
  height: 100%;
}

.action_icon_delete:hover {
  transition: all ease-in-out 0.2s;
  border: 1px solid #ff2626;
  border-radius: 100%;
  padding: 4px;
}

.reletad_blogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
}