.switch {
  display: flex;
  padding-top: 20px;
}

.banners {
  display: flex;
  justify-content: space-between;
  gap: 20px
}

.banners div {
  flex: 1 
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
  margin-bottom: 15px;
}

.inputsText_container {
  display: flex;
  gap: 20px;
  flex: 1
}

.spaceHorizontal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1
}

.inputText {
  display: flex;
  flex-direction: column;
  width: 100%;
}