.title {
  font-size: 20px;
  font-weight: 600;
}

.forms_container {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.gridBanners {
  display: flex;
  flex-direction: column;
}

.gridBannersFixed {
  display: flex;
  flex: 1;
  gap: 16px;
}

.gridBannersRow {
  display: flex;
  gap: 16px;
}