.category_input_container {
  display: flex;
  gap: 16px;
  width: 60%;
}

.category_input {
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 4px;
  border-width: 1px;
  outline: none;
  flex: 1
}

.button {
  display: flex;
  gap: 8px;
}

.button_blue_icon {
  fill: #fff;
}