.switch {
  display: flex;
  padding-top: 20px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 80px;
  margin-bottom: 15px;
}

.inputsText_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1
}

.spaceHorizontal {
  display: flex;
  gap: 40px;
}

.spaceHorizontal div {
  flex: 1
}

.spaceHorizontal div div {
  width: 100%;
} 

.inputText {
  display: flex;
  flex-direction: column;
  width: 100%;
}
