:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --header-min-height: 80px;
  --menu-left-width: 22vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  
}


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--ck-content-font-family: 'Lato';
}

.main-container {
  display: flex;
	font-family: var(--ck-content-font-family);
  width: 100%;
}

.editor-container {
  display: flex;
  width: 100%;
}

.editor-container_classic-editor .editor-container__editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
	min-width: 795px;
}

.editor {
  width: 100%;
}

.children_container {
  display: flex;
  height: 100vh;
}

.children {
  width: calc(100vw - var(--menu-left-width));
  position: fixed;
  left: var(--menu-left-width);
  top: var(--header-min-height);
  padding: 40px 54px;
  height: calc(100vh - var(--header-min-height));
  overflow-y: scroll;
}

.children:hover {
  overflow-y: scroll;
}

.children::-webkit-scrollbar-track{
	border-radius:0;
	background-color: #D0D4CE;
}

.children::-webkit-scrollbar{
	width: 5px;
	background-color: #D0D4CE;
}

.children::-webkit-scrollbar-thumb{
  border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiDataGrid-main .css-3eek4p-MuiDataGrid-main div:nth-child(2){
  background-color: #f00;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
