.function_bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.search_bar {
  display: flex;
  width: 50%;
  gap: 10px
}

.search_bar_input {
  width: 100%;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 4px;
  border-width: 1px;
  outline: none;
}

.functions_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #0E66CA
}

.button_white {
  color:#0E66CA;
}

.button_white_icon {
  fill: #0E66CA;
}

.button_blue {
  color: #fff;
  background-color: #0E66CA;
}

.button_blue_icon {
  fill: #fff;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_item {
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  margin: 20px;
}

.table {
  padding-top: 10px;
  padding: 15px;
}

.favorite_icon {
  fill: rgb(167, 167, 167)
}

.cell_aling {
  height: 100%;
  width: 100%;
}

.grupName {
  text-transform: capitalize;
}

.file_input {
  display: none;
}

.upload_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px
}

.upload_button {
  display: flex;
  color: #fff;
  background-color: #1F1F1F;
  align-items: center;
  justify-content: center;
  padding: 8%;
  border-radius: 8px;
  height: 50px;
  gap: 10px;
  margin-top: 12px;
  cursor: pointer;
}

.upload_button[data-status=true] {
  background-color: #0E66CA;
}

.upload_button:hover {
  opacity: 0.8;
}

.trash_icon {
  display: flex;
  color: #fff;
  background-color: #eb2222;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 8px;
  height: 50px;
  gap: 10px;
  margin-top: 12px;
  cursor: pointer;
}

.trash_icon:hover {
  opacity: 0.8;
}