.container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.addImageContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.inputLabel {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #1976d2;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  line-height: 1.75;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  gap: 20px
}

.buttonRemove{
  display: flex;
  gap: 10px
}

.inputLabel:hover {
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.inputFile {
  display: none;
}

.button {
  align-self: flex-start;
}

.container_images {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 212px;
  padding-bottom: 10px;
}

.container_images::-webkit-scrollbar-track{
	border-radius:0;
	background-color: #D0D4CE;
}

.container_images::-webkit-scrollbar{
  height: 4px;
	background-color: #D0D4CE;
}

.container_images::-webkit-scrollbar-thumb{
  border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

.image {
  width: 500px;
  height: 300px;
}

.image_delete_active {
  filter: brightness(0.5) blur(1px) grayscale(1);
}

.deleteIcon {
  color: #fff;
  position: relative;
  right: -50%;
  top: -50%;
  z-index: 1;
}

.inputLabel_disabled, .inputLabel_disabled:hover {
  cursor: default;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}
