.form_container {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 50px;
  display: flex;
  gap: 50px;
}

.form_row {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px
}

.inputText {
  flex: 1
}

.button_container {
  display: flex;
  gap: 20px
}

.button {
  margin-top: 30px;
  align-self: flex-start;
}

.images {
  display: flex;
  gap: 16px;
}

.images div {
  flex: 1 
}